<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HomeNet</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color-text--grey-100">
            <div class="mdl-layout__header-row">
                <h3 class="mdl-typography--headline">HomeNet</h3>

                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="search" />
                        <label class="mdl-textfield__label" for="search">Enter your query...</label>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                    <li class="mdl-menu__item">About</li>
                    <li class="mdl-menu__item">Contact</li>
                    <li class="mdl-menu__item">Legal information</li>
                </ul>
            </div>
        </header>
        <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">
                <div class="welcomeMessage demo-avatar-dropdown center-me">
                    <span class="">Anmeldung</span>
                    <div class="mdl-layout-spacer"></div>
                    <i class="material-icons mdl-color-text--blue-grey-50">person</i>
                    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
                        <i class="material-icons">arrow_drop_down</i>
                        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                    </button>
                    <div class="mdl-menu__container is-upgraded">
                        <div class="mdl-menu__outline mdl-menu--bottom-right"></div><ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events" for="accbtn" data-upgraded=",MaterialMenu,MaterialRipple">
                            <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1" data-upgraded=",MaterialRipple"><a class="mdl-navigation__link" href="../logoff.php">Sign out</a><span class="mdl-menu__item-ripple-container"><span class="mdl-ripple"></span></span></li>
                            <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1" data-upgraded=",MaterialRipple"><a class="mdl-navigation__link" href="../logon.php">Login</a><span class="mdl-menu__item-ripple-container"><span class="mdl-ripple"></span></span></li>
                            <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1" data-upgraded=",MaterialRipple"><a class="mdl-navigation__link" href="../register.php">Register</a><span class="mdl-menu__item-ripple-container"><span class="mdl-ripple"></span></span></li>
                            <li disabled="" class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1" data-upgraded=",MaterialRipple"><a class="mdl-navigation__link" href="../register.php">Test</a><span class="mdl-menu__item-ripple-container"><span class="mdl-ripple"></span></span></li>
                        </ul>
                    </div>
                </div>
            </header>
                <nav class="demo-navigation mdl-navigation">
                    <a class="mdl-navigation__link my-drawer-link" href=""><i class="material-icons my-drawer-link">home</i>Home</a>
                    <a class="mdl-navigation__link my-drawer-link" href=""><i class="material-icons my-drawer-link">event</i>Kalender</a>
                    <a class="mdl-navigation__link my-drawer-link" href=""><i class="material-icons my-drawer-link">restaurant_menu</i>Speiseplan</a>
                    <a class="mdl-navigation__link my-drawer-link" href=""><i class="material-icons my-drawer-link">list</i>ToDo</a>
                    <a class="mdl-navigation__link my-drawer-link" href=""><i class="material-icons my-drawer-link">shopping_cart</i>Einkauf</a>
                    <a class="mdl-navigation__link my-drawer-link" href="@Url.Action("Index", "Buchhaltung")"><i class="material-icons my-drawer-link">$</i>Finanzen</a>
                    <div class="mdl-layout-spacer"></div>
                    <a class="mdl-navigation__link my-drawer-link" href=""><i class="material-icons">help_outline</i></a>
                </nav>        
        </div>
        <div class="body-content mdl-layout__content mdl-color--grey-100">
            @RenderBody()
        </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/material")
@RenderSection("scripts", required: false)
</body>
</html>
