@model IEnumerable<mvcentity.Models.Item>

@{
    ViewBag.Title = "Index";
}

<style>
    #view-source {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 810px;
        margin-bottom: 628px;
        z-index: 900;
    }
</style>



<div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div>
             <h4>Einkauf-Liste</h4>          
        </div>
    </div>

        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin:35px auto">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Anzahl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Anzahl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.ActionLink("Bearbeiten", "Edit", new { id = item.Id }) -
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) -
                            @Html.ActionLink("Löschen", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>

        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div style="height:110px;">

            </div>
        </div>


    <a href="@Url.Action("Create","Einkauf")" id="view-source"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </a>


    </div>