@model mvcentity.Models.Transaktion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaktion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Summe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IstAusgabe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IstAusgabe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Information)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
